<div class="flex justify-center">
  <div
    class="inline-flex shadow-md hover:shadow-lg focus:shadow-lg"
    role="group"
  >
    <button
      *ngFor="let city of cities; index as i"
      type="button"
      [ngClass]="{ 'rounded-l': i === 0, 'rounded-r': i === cities.length - 1 }"
      class="inline-block px-6 py-2.5 bg-indigo-700 text-white font-medium text-xs leading-tight uppercase hover:bg-indigo-800 focus:bg-indigo-800 focus:outline-none focus:ring-0 active:bg-indigo-800 transition duration-150 ease-in-out"
    >
      {{ city }}
    </button>
  </div>
</div>
